fastapi
uvicorn
pandas
beautifulsoup4
requests
pytest
sqlalchemy
python-jose[cryptography]
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
psycopg2-binary
snowflake-sqlalchemy
python-dotenv
prometheus-fastapi-instrumentator>=7.0.0
prometheus-client>=0.20.0
streamlit>=1.36.0
pyarrow<19.0.0